* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

/* PHẦN BÓNG NỔI */

#main {
  height: 10000px;
}

.bubles {
  position: fixed;
  background: #252525;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

.balls {
  position: relative;
  display: flex;
  gap: 10px;
}

.balls .ball-item {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4fc3dc;
  box-shadow: 0 0 15px #057992, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;

  animation: animate 15s linear forwards;
  animation-duration: calc(16s / var(--i));
  z-index: -100;
}

.balls:nth-child(2) {
  transform: translateX(35px);
}

.balls:nth-child(2) .ball-item {
  animation-duration: calc(18s / var(--i));
}

.balls .ball-item:nth-child(2n) {
  background: #ff2d75;
  box-shadow: 0 0 15px #aa043e, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

.balls .ball-item:nth-child(8) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

.balls .ball-item:nth-child(5) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

.balls .ball-item:nth-child(16) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

.balls .ball-item:nth-child(13) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}
.balls .ball-item:nth-child(1) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}
.balls .ball-item:nth-child(27) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}
.balls .ball-item:nth-child(30) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

.balls .ball-item:nth-child(21) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

.balls .ball-item:nth-child(33) {
  background: #16ff00;
  box-shadow: 0 0 15px #18880e, 0 0 50px #16ff00, 0 0 100px #16ff00;
}

@keyframes animate {
  0% {
    transform: translateY(105vh) scale(0);
  }

  100% {
    transform: translateY(-15vh) scale(1);
  }
}

/* PHẦN NÚT BẤM */
.btn {
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 70px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  /* animation: appear 3s linear forwards; */
  animation-delay: 8s;
  /* opacity: 0; */
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1000px;
  height: 1000px;
  background: conic-gradient(transparent, transparent, transparent, #00d7ff);
  animation: animated 4s infinite linear;
}

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1000px;
  height: 1000px;
  background: conic-gradient(transparent, transparent, transparent, #ea047e);
  animation: animated 4s infinite linear;
  animation-delay: -2s;
}

@keyframes animated {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn span {
  position: absolute;
  inset: 3px;
  border-radius: 20px;
  background: #252525;
  z-index: 5;
}

.btn p {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2.3em;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  cursor: pointer;
  z-index: 10;
  transition: 1s;
}

.btn p:nth-of-type(4),
.btn p:nth-of-type(6),
.btn p:nth-of-type(9) {
  margin-right: 15px;
}

p:hover{
  transition: 0s;
  text-shadow: 0 0 10px #FFCD38, 0 0 10px #FFCD38, 0 0 10px #FFCD38;
}

@keyframes lose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* HIỆU ỨNG PHẦN ẢNH */
.img {
  position: relative;
}

.main-content {
  position: relative;
  top: -20vh;
  width: 100vw;
  height: 100vh;
  animation: slideInTop 3s linear forwards;
  z-index: 12;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img {
  display: block;
  width: 100vw;
  object-fit: contain;
  object-position: center;
}

/* PHÀN CHỮ HAPPY BIRTHDAY */
.content {
  position: absolute;
  top: 32vh;
  left: 14vw;
  user-select: none;
}

.content-blocktext1,
.content-blocktext2 {
  text-align: center;
}

.content span {
  position: relative;
  display: inline-block;
  font-size: 7.5em;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: transparent;

  animation: addColor 2s infinite linear;
}

.content span:nth-child(1) {
  animation-delay: calc(3s + 0.5s);
}
.content span:nth-child(2) {
  animation-delay: calc(3s + 1s);
}

.content span:nth-child(3) {
  animation-delay: calc(3s + 1.5s);
}

.content span:nth-child(4) {
  animation-delay: calc(3s + 2s);
}

.content span:nth-child(5) {
  animation-delay: calc(3s + 2.5s);
}

.content span:nth-child(6) {
  animation-delay: calc(3s + 3s);
}

.content span:nth-child(7) {
  animation-delay: calc(3s + 3.5s);
}

.content span:nth-child(8) {
  animation-delay: calc(3s + 4s);
}

.content span:nth-child(9) {
  animation-delay: calc(3s + 4.5s);
}

.content span:nth-child(10) {
  animation-delay: calc(3s + 5s);
}

.content span:nth-child(11) {
  animation-delay: calc(3s + 5.5s);
}

.content span:nth-child(12) {
  animation-delay: calc(3s + 6s);
}

.content span:nth-child(13) {
  animation-delay: calc(3s + 6.5s);
}

@keyframes addColor {
  0% {
    scale: 1;
    color: #fff;
    text-shadow: 0 0 10px #ffacac, 0 0 10px #ffacac, 0 0 10px #ffacac;
  }
  25% {
    scale: 1.1;
    color: #fff;
    text-shadow: 0 0 10px #ffbfa9, 0 0 10px #ffbfa9, 0 0 10px #ffbfa9;
  }
  50% {
    scale: 1;
    color: #fff;
    text-shadow: 0 0 10px #ffebb4, 0 0 10px #ffebb4, 0 0 10px #ffebb4;
  }
  75% {
    scale: 1.1;
    color: #fff;
    text-shadow: 0 0 10px #fbffb1, 0 0 10px #fbffb1, 0 0 10px #fbffb1;
  }
  100% {
    scale: 1;
    color: #fff;
    text-shadow: 0 0 10px #ffacac, 0 0 10px #ffacac, 0 0 10px #ffacac;
  }
}

@keyframes varyColor {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes smallLetter {
  from {
    letter-spacing: 0.4em;
    scale: 1;
  }
  to {
    letter-spacing: 0.2em;
    scale: 0.5;
  }
}

/* LÀM PHÀN TRANG TRÍ CHONG CHÓNG */
.decoration-block {
  position: absolute;
  top: 35vh;
  display: flex;
  justify-content: space-between;
  animation: show 3s linear forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.decoration-block .decoration-wire > img {
  width: 400px;
}

.decoration-wire .pinwheel img {
  width: 75px;
}

/* PHẦN CHONG CHÓNG BÊN TRÁI */
.decoration-block .decoration-wire:nth-child(1) {
  position: relative;
  left: 8vw;
}

.decoration-wire:nth-child(1) .pinwheel-1 {
  position: absolute;
  top: -2px;
  left: -35px;
  animation: rotate 3s infinite linear;
  animation-delay: 3.5s;
}

.decoration-wire:nth-child(1) .pinwheel-2 {
  position: absolute;
  top: -20px;
  left: 105px;
  animation: rotate 3s infinite linear;
  animation-delay: 3.5s;
}

/* PHẦN CHONG CHÓNG BÊN PHẢI */
.decoration-block .decoration-wire:nth-child(2) {
  position: relative;
  right: -32vw;
  transform: scaleX(-1);
  filter: FlipH;
}

.decoration-wire:nth-child(2) .pinwheel-1 {
  position: absolute;
  top: -2px;
  left: -35px;
  animation: rotate 3s infinite linear;
  animation-delay: 3.5s;
}

.decoration-wire:nth-child(2) .pinwheel-2 {
  position: absolute;
  top: -20px;
  left: 105px;
  animation: rotate 3s infinite linear;
  animation-delay: 3.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* PHẦN QUÀ RƠI */
.gift-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: -35vh;
  left: -17vw;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.gift-block img {
  display: inline-block;
  position: relative;
  width: 170px;
  top: -32vh;
  transform: translateY(-100px);
  user-select: none;
  animation: topToBottom 200s linear 7s infinite;
}

.gift-block img:nth-child(1) {
  left: 2%;
  animation-duration: 6.5s;
  animation-delay: 6.5s;
}

.gift-block img:nth-child(2) {
  left: 2%;
  animation-duration: 9s;
  animation-delay: 7s;
}

.gift-block img:nth-child(3) {
  left: 2%;
  animation-duration: 7s;
  animation-delay: 7s;
}

.gift-block img:nth-child(4) {
  left: 2%;
  animation-duration: 8.5s;
  animation-delay: 7.5s;
}

.gift-block img:nth-child(5) {
  left: 2%;
  animation-duration: 9.5s;
  animation-delay: 6.5s;
}

.gift-block img:nth-child(6) {
  left: 2%;
  animation-duration: 7s;
  animation-delay: 8.5s;
}

.gift-block img:nth-child(7) {
  left: 2%;
  animation-duration: 9.75s;
  animation-delay: 9s;
}

.gift-block img:nth-child(8) {
  left: 2%;
  animation-duration: 6.75s;
  animation-delay: 6s;
}

@keyframes topToBottom {
  0% {
    top: -40vh;
    transform: rotate(0) translateY(0);
  }
  20% {
    transform: rotate(10deg) translateY(10px);
  }
  40% {
    transform: rotate(-10deg) translateY(-10px);
  }
  60% {
    transform: rotate(10deg) translateY(10px);
  }
  80% {
    transform: rotate(-10deg) translateY(-10px);
  }
  100% {
    top: 85%;
    transform: rotate(10deg) translateY(10px);
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* PHÀN KHỐI ẢNH */
.avatar-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: 1;
}

.avatar-block img {
  position: absolute;
  width: 200px;
  animation: display 2s linear forwards;
  animation: comeFromTop 3s linear 3s forwards, upDown 2s linear 7s infinite;
  opacity: 0;
  user-select: none;
}

.avatar-block img:nth-child(1) {
  top: -80%;
  left: 17vw;
}

.avatar-block img:nth-child(2) {
  top: -80%;
  right: 16vw;
}

.avatar-block img:nth-child(3) {
  top: 15vh;
  right: -10vw;
  animation: comFromBottom 3s linear 3s forwards, upDown 2s linear 8s infinite;
}

.avatar-block img:nth-child(4) {
  top: 15vh;
  left: -15vw;
  animation: comFromBottom 3s linear 3s forwards, upDown 2s linear 8s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes comeFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes comFromBottom {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes removeImgTop {
  0% {
    top: -75%;
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes removeFromRight {
  from {
    top: 15vh;
    right: -10vw;
    opacity: 1;
    transform: translateX(0);
  }
  to {
    top: 0;
    transform: translateX(20vw);
    opacity: 0;
  }
}

@keyframes removeFromLeft {
  from {
    top: 15vh;
    right: -10vw;
    opacity: 1;
    transform: translateX(0);
  }
  to {
    top: 0;
    transform: translateX(-20vw);
    opacity: 0;
  }
}

/* PHÀN NÚT GẮN LIỀN VỚI ẢNH */
.img-btn {
  position: absolute;
  bottom: -80px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 21;
}

.img-btn button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px #f80000;
  font-family: "Dancing Script", cursive;
  user-select: none;
  animation: display 2s linear forwards;
  animation-delay: 8s;
  opacity: 0;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.img-btn button:hover {
  text-shadow: 0 0 10px #e0144c, 0 0 25px #e0144c, 0 0 50px #e0144c;
  cursor: pointer;
}

/* PHẦN LÍ THƯ GỬI NGƯỜI CHÚC SINH NHẬT */
.block-emotion {
  position: absolute;
  top: 25vh;
  left: 27vw;
  width: 635px;
  z-index: 20;
  animation: arrive 2s linear forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes arrive {
  from {
    scale: 0;
    opacity: 0;
    transform: translateY(50vh);
  }
  to {
    scale: 1;
    opacity: 1;
    transform: translateY(0);
  }
}

.emotion-email {
  background-color: #d2e9e9;
  padding: 15px;
  text-align: center;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.4),
    -7px -7px 7px 0px rgba(255, 255, 255, 0.52);
  user-select: none;
  border-radius: 8px;
}

.emotion-emai__content-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.emotion-emai__content-heading .heart {
  color: #ff0000;
  font-size: 20px;
  text-shadow: 0 0 10px #fd5656c4;
  animation: rotateHeart 3s linear 5s infinite;
}

@keyframes rotateHeart {
  to {
    transform: rotateY(360deg);
  }
}

.emotion-emai__content h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 40px;
}

.emotion-emai__content p {
  padding-top: 10px;
  font-family: "Dancing Script", cursive;
  line-height: 1.5;
  font-size: 1.48em;
  text-shadow: 0 0 0 5px #fff5e4;
}

/* PHẦN BÓNG BAY Ở PHÀN LÁ THƯ */
.balloons-block {
  position: absolute;
  top: -37vh;
  left: -27vw;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.balloons-block img {
  position: absolute;
  width: 210px;
  user-select: none;
}

@keyframes rotateBalloons {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

.balloons-block img:nth-child(1) {
  top: 20px;
  left: 0;
  opacity: 0;
  animation: slineInLeft1 2.5s linear 5s forwards,
    rotateBalloons 3s linear 8.5s infinite;
}

@keyframes slineInLeft1 {
  from {
    opacity: 0;
    scale: 0;
    transform: translateX(-30vw) translateY(-25vh);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0, 0);
  }
}

.balloons-block img:nth-child(2) {
  top: 20vh;
  left: 15vw;
  opacity: 0;
  animation: slineInLeft2 2.5s linear 5s forwards,
    rotateBalloons 3s linear 8.25s infinite;
  z-index: -100;
}

@keyframes slineInLeft2 {
  from {
    opacity: 0;
    transform: translateX(-30vw);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.balloons-block img:nth-child(3) {
  bottom: 20px;
  left: 5vw;
  opacity: 0;
  animation: slineInLeft3 2.5s linear 5s forwards,
    rotateBalloons 3s linear 8s infinite;
}

@keyframes slineInLeft3 {
  from {
    opacity: 0;
    transform: translate(-30vw, -30vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.balloons-block img:nth-child(4) {
  top: 0;
  right: 0;
  opacity: 0;
  animation: slineInRight4 2.5s linear 5s forwards,
    rotateBalloons 3s linear 7.95s infinite;
}

@keyframes slineInRight4 {
  from {
    opacity: 0;
    scale: 0;
    transform: translateX(30vw) translateY(-25vh);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0, 0);
  }
}

.balloons-block img:nth-child(5) {
  top: 20vh;
  right: 14vw;
  opacity: 0;
  animation: slineInRight5 2.5s linear 5s forwards,
    rotateBalloons 3s linear 7.75s infinite;
}

@keyframes slineInRight5 {
  from {
    opacity: 0;
    transform: translateX(30vw);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.balloons-block img:nth-child(6) {
  bottom: 20px;
  right: 4vw;
  opacity: 0;
  animation: slineInRight6 2.5s linear 5s forwards,
    rotateBalloons 3s linear 7.5s infinite;
}

@keyframes slineInRight6 {
  from {
    opacity: 0;
    transform: translate(30vw, -30vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
